

.nav-bars{
    background-color: rgba(0, 0, 0, 0.552);
    background-image: url("../../assets/navbar.png");
    max-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100% 100%;
}
.buttonss:hover{
    background-color: cyan;
}

.Home-wrapper{
    display: flex;
}

.button {
    border-radius: 5px;
    border-color: white;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 3px;
    
    height: 2rem;
    background-image: url("../../assets/botones.png");
    background-size: 100% 100%;
    border: thin transparent;
}

.button:hover {
    cursor: pointer;
    color: white;
     
    box-shadow: 3px 3px 1px rgb(54, 157, 38);
}

.input-search {
    width: 8rem;
}

.button-container {
    margin-top: 10px;
}
.types{
    margin-top: 3rem;
    margin: 3px;
}

.searchabrnashe{
    margin-top: 8rem;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 10px;
grid-row-gap: 0px; 
}

.buttonss{

    height: 2rem;
    background-image: url("../../assets/botones.png");
    background-size: 100% 100%;
    border: thin transparent;
}

.buttonss:hover{
    
    cursor: pointer;
    color: white;
     
    box-shadow: 3px 3px 1px rgb(54, 157, 38);
}