.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #203560;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cuatro{
  position: relative;
}

.cuatrot{
position: absolute;
scale: 4;
margin-top: 4rem;
margin-left: 50rem;
}

.cuatroi{
  position: absolute;
  scale: 2;
  margin-top: 7rem;
  margin-left: 50rem;
}

.cuatrob{
  filter: grayscale(50%);
  margin-top: 13rem;
  margin-left: 50rem;
  position:absolute;
  height: 100px;
  background-color: transparent;
  width: 300px;
  border: 1px 1px 1px transparent;
  border-style: thin;
    background-image: url("./assets/botonbacj.png");
}