*{
    box-sizing: border-box;
}

body{
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paginadohome{
    margin-top: 0;
    position: absolute;
}

