*{
    box-sizing: border-box;
}

body{
    background-color: rgb(219, 199, 199);
    background-size: cover;
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paginadohome{
    margin-top: 0;
    position: absolute;
}

